# Absolute paths are specified to avoid funky issues with path references.
# Source:
#   - https://stackoverflow.com/a/72656628
#   - https://stackoverflow.com/questions/37458287/how-to-run-a-cron-job-inside-a-docker-container
#   - https://stackoverflow.com/a/46220104
#   - https://blog.thesparktree.com/cron-in-docker
# Run the Cron job “At 04:00PM on Tuesday” (UTC) (08:00AM PST)
CRON_TZ=UTC
0 16 * * 2 ~/miniconda3/bin/conda run -n esgf_metrics_dev python /app/esgf_metrics/main.py > /proc/1/fd/1 2>/proc/1/fd/2
